CodeNarcReport.html
Thumbs.db
.DS_Store
.gradle
build/
.idea/*
!.idea/codeStyles
!.idea/saveactions_settings.xml
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.asscache
*.hprof

*/out/
logs/*.log

cache
cache/
.cache
**/reportTests.csv

.idea